/* ---------------------------------------------------
    NAVIGATION BAR
----------------------------------------------------- */

#topbar {
    background-color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 70%;
	min-height: calc(100vh);
    background: #2853DC;
	color: white;
}

/* 
@media (min-width: 768px) { #sidebar { width: 50% ; 	}  } 
@media (min-width: 970px) { #sidebar {	width: 40% ;	}  }
@media (min-width: 1170px){ #sidebar {	width: 30% ;	}  }
*/

#sidebar .sidebar-header {
    padding: 50px;
    background: #040815;
    border-bottom: 1px solid white;
}

#sidebar ul.components {
    padding: 20px 0px 15px;
    border-bottom: 1px solid white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; 
	color: white;
    text-underline: none;
}

#sidebar ul li a:hover {
    background: #C7D1F3; 
	color: white;
    text-underline: none;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Options arrow-down*/	
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
	content:"\f078";
    font-family: FontAwesome;
}

ul ul a {
    padding-left: 30px !important;
}

/*	Button sube tu musica */
.btn-dark {
	background: black;
	color: white;
}

.btn-dark:hover {
     color: white;
    background-color: #DDE5FF;
    border-color: #C7D1F3; 	
}



/* ---------------------------------------------------
    REPRODCUTOR
----------------------------------------------------- */

.fa-heart.active{
  color:red !important;
}

.btn.active {
   background: #2853DC !important;	/* Blue */
}
