body{
    overflow:hidden;
}

/* ---------------------------------------------------
    NAVIGATION BAR AND CONTENT
----------------------------------------------------- */

#topbar-y-contenido {
    position:absolute;
    height:calc(100% - 100px);
}

/* ---------------------------------------------------
    NAVIGATION BAR
----------------------------------------------------- */

#topbar {
    background-color: black!important;
    color:black;
    font-size: larger;
}

#topbar ul li a {
    color:white;
    transition:300ms;
}

#topbar ul li a:hover{
    color:#2853DC;
    transition:300ms;
}

/* ---------------------------------------------------
    CONTENIDO
----------------------------------------------------- */

#contenido {
    position:relative;
    top:0px;
    left:0px;
    bottom:0px;
    height:calc(100% - 51px); /* menos topbar */
    overflow-y:auto;
}

/* ---------------------------------------------------
    socialbar STYLE
----------------------------------------------------- */

#socialbar {
    height:100%;
    position:fixed;
    top:0px;
    right:0px;
    z-index:1030;
    background: #2853DC;
	color: white;
    float:right;
    overflow-x: hidden;
    overflow-y: auto;
}

/*
@media (min-width: 768px) { #socialbar { width: 50% ; 	}  }
@media (min-width: 970px) { #socialbar {	width: 40% ;	}  }
@media (min-width: 1170px){ #socialbar {	width: 30% ;	}  }
*/

#socialbar .socialbar-header {
    background: #040815;
    text-align:left;
    font-size:20px;
}

/* socialbar navigation */
.socialbar {
    padding-left: 0;
    padding-right: 0;
}

/*	Button sube tu musica */
.btn-dark {
	background: black;
	color: white;
}

.btn-dark:hover {
     color: white;
    background-color: #DDE5FF;
    border-color: #C7D1F3; 	
}

/* ---------------------------------------------------
    PLAYER
----------------------------------------------------- */

#player {
    background: #040815;
    color:white;
    width:100%;
    height:100px;
    position:fixed;
    bottom:0px;
    z-index:1040;
}


/* ---------------------------------------------------
    Search button
----------------------------------------------------- */

form.search-button button {
    background: #2853DC;	/* Blue */
    color: white;
}

/* ---------------------------------------------------
    Thumbnails
----------------------------------------------------- */
.img-thumbnail{
	 text-align:center;
}


/* ---------------------------------------------------
    Listas
----------------------------------------------------- */

.img-thumbnail:hover {
   /* background-image: url('http://www.online-image-editor.com//styles/2014/images/example_image.png'); */
    background-color: #D8D6D6; /* Grey */
}
.caption:hover {

}

.lleva-bocadillo:before{
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -13px 0 0 -76px;
    border-bottom: 30px solid transparent;
    border-right: 28px solid rgba(0,0,0,.125);
    border-left: 28px solid transparent;
}